.change:hover{
    color: rgb(70, 116, 241);
    
}

.change1:hover{
    color: white
    
}

.profiles .card {

    margin: 25px;

  }

  .profiles .card-body {
    text-align: left;
  }
.container .card{
    margin: 25px;
}
.up{
    width: 70px;
    position: fixed;
    bottom: 2%;
    right: 2%;
}

@media screen  and (prefers-reduced-motion:no-preference){
    html{
        scroll-behavior: smooth;

    }
}